body{
font-family: Arial;
background:#f4f6fb;
text-align:center;
}

.container{
margin-top:100px;
}

h1{
color:#2c3e50;
}

button{
padding:12px 20px;
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
margin-top:20px;
}

button:hover{
background:#45a049;
}

.features{
display:flex;
justify-content:center;
margin-top:40px;
}

.card{
background:white;
padding:20px;
margin:10px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:200px;
}